services:
  reverse-proxy:
    container_name: reverse-proxy
    image: nginx:1.29
    volumes:
      - ./{{ reverse_proxy_conf_name }}:{{ nginx_config_path }}/{{ reverse_proxy_conf_name }}:ro  # :ro is read-only
    restart: unless-stopped
    depends_on:
      - keycloak
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
    networks:
      - frontend_net
      - api_net
  
  frontend:
    container_name: frontend
    image: {{ docker_registry_url }}/frontend:latest
    restart: unless-stopped
    depends_on:
      - keycloak
    expose:
      - 80
    networks:
      - frontend_net
  
  backend:
    container_name: backend
    image: {{ docker_registry_url }}/backend:latest
    restart: unless-stopped
    depends_on:
      - keycloak
      - database
    expose:
      - 8080
    environment:
      - API_PORT=8080
      - API_BASE_PATH={{ api_base_path }}
      - DEBUG_LEVEL={{ debug_level }}
      - DB_HOST=database
      - DB_PORT=5432
      - DB_USERNAME={{ db_username }}
      - DB_PASSWORD={{ db_password }}
      - DB_NAME={{ db_name }}
      - DB_SSL_MODE=false
    networks:
      - api_net
      - backend_net

  database:
    container_name: database
    image: postgres:18.1
    restart: unless-stopped
    expose:
      - 5432
    environment:
      - POSTGRES_USER={{ db_username }}
      - POSTGRES_PASSWORD={{ db_password }}
      - POSTGRES_DB={{ db_name }}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend_net

networks:
  # Reverse-Proxy <-> Frontend
  frontend_net:
    name: frontend_net
    driver: bridge
    internal: true

  # Reverse-Proxy <-> API
  api_net:
    name: api_net
    driver: bridge
    internal: true

  # Backend services <-> Database
  backend_net:
    name: backend_net
    driver: bridge
    internal: true

volumes:
  postgres-data:
