services:
  reverse-proxy:
    container_name: reverse-proxy
    image: traefik:3.6
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik-certs/acme.json:/letsecrypt/acme.json
    restart: unless-stopped
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      # Entrypoints for HTTP and HTTPS
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # Global HTTP -> HTTPS redirect
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      # Let's Encrypt configuration
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email={{ admin_email }}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsecrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    networks:
      - frontend_net
      - api_net
  
  frontend:
    container_name: frontend
    image: {{ docker_registry_url }}/frontend:latest
    restart: unless-stopped
    expose:
      - 80
    networks:
      - frontend_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`{{ hostname }}`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=myresolver"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
  
  backend:
    container_name: backend
    image: {{ docker_registry_url }}/backend:latest
    restart: unless-stopped
    depends_on:
      - database
    expose:
      - 8080
    environment:
      - API_PORT=8080
      - API_BASE_PATH={{ api_base_path }}
      - DEBUG_LEVEL={{ debug_level }}
      - DB_HOST=database
      - DB_PORT=5432
      - DB_USERNAME={{ db_username }}
      - DB_PASSWORD={{ db_password }}
      - DB_NAME={{ db_name }}
      - DB_SSL_MODE=false
    networks:
      - api_net
      - backend_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`{{ hostname }}`) && PathPrefix(`{{ api_base_path }}`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls.certresolver=myresolver"
      - "traefik.http.services.backend.loadbalancer.server.port=8080"

  database:
    container_name: database
    image: postgres:18.1
    restart: unless-stopped
    expose:
      - 5432
    environment:
      - POSTGRES_USER={{ db_username }}
      - POSTGRES_PASSWORD={{ db_password }}
      - POSTGRES_DB={{ db_name }}
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - backend_net

networks:
  # Reverse-Proxy <-> Frontend
  frontend_net:
    name: frontend_net
    driver: bridge
    internal: true

  # Reverse-Proxy <-> API
  api_net:
    name: api_net
    driver: bridge
    internal: true

  # Backend services <-> Database
  backend_net:
    name: backend_net
    driver: bridge
    internal: true

volumes:
  postgres-data:
