- hosts: prod  # Section of inventory.yaml containing target servers
  become: yes
  vars_files: vault.yaml
  vars:
    docker_compose_dest_path: /opt/project

  pre_tasks:
    - name: Add docker GPG apt Key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/debian/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'
        force: true
    
    - name: Add docker Repository
      ansible.builtin.apt_repository:
        repo: "deb [arch={{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
        state: present
    
    - name: Update apt cache after adding docker repository
      ansible.builtin.apt:
        update_cache: yes
    
    - name: Install docker and compose
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-compose-plugin
        state: present
    
    - name: Ensure docker service is enabled and started
      ansible.builtin.service:
        name: docker
        state: started
        enabled: yes

  tasks:
    - name: Ensure the existence of the compose dest directory
      ansible.builtin.file:
        path: '{{ docker_compose_dest_path }}'
        state: directory

    - name: Create Traefik certs directory
      ansible.builtin.file:
        path: '{{ docker_compose_dest_path }}/traefik-certs'
        state: directory
        mode: '0755'

    - name: Ensure acme.json exists with correct permissions
      ansible.builtin.copy:
        content: ""
        dest: '{{ docker_compose_dest_path }}/traefik-certs/acme.json'
        force: no  # Do not overwrite if it already exists
        mode: '0600'
    
    - name: Template Jinja2 docker compose file
      template:
        src: '{{ docker_compose_src_path }}/{{ docker_compose_name }}'
        dest: '{{ docker_compose_dest_path }}/{{ docker_compose_name }}'
        mode: '0644'
    
    - name: Tear down existing services
      community.docker.docker_compose_v2:
        project_src: '{{ docker_compose_dest_path }}'
        files:
          - '{{ docker_compose_name }}'
        state: absent
      ignore_errors: true

    - name: Create and start services
      community.docker.docker_compose_v2:
        project_src: '{{ docker_compose_dest_path }}'
        files:
          - '{{ docker_compose_name }}'
        pull: always
        recreate: always
        state: present
